@charset "windows-1250";
/* CSS Document */
/*@import url("reset.css");*/

body{
	background:url(Slike_Pocetna/bg_body.gif) repeat;
	}
	
#omotac{
	width:1200px;
	height:1200px;
	margin:0;
	padding:0 0 0 0;
	}
	
#kalendar{
	width:390px;
	height:310px;
	margin:0 0 0 20;
	padding:0 0 0 0;
	float:left;
	}
	
#zaglavlje{
	width:1300px;
	height:350px;
	}	
	
#logo-menu{
	margin:auto;
	padding:auto;
	width:380px;
	height:310px;
	float:left;
	background:url(Slike_Pocetna/bg_logo_menu.gif) repeat-x bottom right;
    }

#slika-zaglavlja{
	width:380px;
	height:310px;
	float:left;
	margin:0 0 0 50px;
    }

#logo{
	width:300px;
	height:100px;	
	}
	
#menu{
	margin:auto; 
	padding:20px 0 10px 0; 
	width:300px;
	height:196px;
	}


#menu ul li a:link, #menu ul li a:visited{ 
	display:block; 
	width:290px;
	height:25px;
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#03F;
	text-decoration:none;
	}


#menu ul li a:hover{
	background:#FC6;
	}


	
#sadrzaj{
	width:820px;
	height:1010px;
	}
	

#stupac-1{
	width:760px;
	heihgt:280px;
	font:bold 14px Arial, Helvetica, sans-serif; 
	color:#03C;   
	float:left;
	margin:30px 0 30 0;
	}
	
	
#stupac-2{
	width:400px;
	heihgt:330px;	
    float: left;
	margin:30px 0 0 0;
	padding:0 0 0 0;
	}	

#stupac-3{
	width:400px;
	heihgt:330px;
	float:right;
	margin:30px 0 0 0;
	padding:0 0 0 0;
	}
	
	
#stupac-4{
	width:760px;
	heihgt:280px;
	font:bold 14px Arial, Helvetica, sans-serif; 
	color:#03C;  
	float:left;
	margin:30px 0 40 0;
	}	


#stupac-5{
	width:400px;
	heihgt:330px;
	float:left;
	margin:30px 0 0 0;
	padding:0 0 0 0;
	}
	
	
#stupac-6{
	width:400px;
	heihgt:330px; 
	float:right;
	margin:30px 0 0 0;
	padding:0 0 0 0;
	}	

#stupac-7{
	width:760px;
	heihgt:280px;
	font:bold 14px Arial, Helvetica, sans-serif; 
	color:#03C;   
	float:left;
	margin:40px 0 0 0;
	}
	
	
#stupac-8{
	width:400px;
	heihgt:330px;
	float:right;
	margin:30px 0 0 0;
	padding:20px 0 0 0;
	}	

#stupac-9{
	width:400px;
	heihgt:330px;
	float:left;
	margin:30px 0 20px 0;
	padding:20px 0 0 0;
	}
	
	
#stupac-10{
	width:760px;
	heihgt:280px;
	font:bold 14px Arial, Helvetica, sans-serif; 
	color:#03C;
	float:left;
	margin:10px 0 0 0;
	}	


#stupac-11{
	width:400px;
	heihgt:330px;
	float:left;
	margin:20px 0 0 0;
	padding:0 0 0 0;
	}
	
	
#stupac-12{
	width:400px;
	heihgt:330px; 
	float:right;
	margin:20px 0 0 0;
	padding:0 0 0 0;
	}	


#stupac-13{
	width:760px;
	heihgt:280px;
	font:bold 14px Arial, Helvetica, sans-serif; 
	color:#03C;
	float:left;
	margin:40px 0 0 0;
	}	


#stupac-14{
	width:400px;
	heihgt:330px;
	float:left;
	margin:20px 0 0 0;
	padding:0 0 0 0;
	}
	
	
#stupac-15{
	width:400px;
	heihgt:330px; 
	float:right;
	margin:20px 0 0 0;
	padding:0 0 0 0;
	}	

#stupac-16{
	width:760px;
	heihgt:280px;
	font:bold 14px Arial, Helvetica, sans-serif; 
	color:#03C;
	float:left;
	margin:40px 0 0 0;
	}	


#stupac-17{
	width:400px;
	heihgt:330px;
	float:left;
	margin:20px 0 0 0;
	padding:0 0 0 0;
	}
	
	
#stupac-18{
	width:400px;
	heihgt:330px; 
	float:right;
	margin:20px 0 0 0;
	padding:0 0 0 0;
	}	


#stupac-19{
	width:760px;
	heihgt:280px;
	font:bold 14px Arial, Helvetica, sans-serif; 
	color:#03C;
	float:left;
	margin:40px 0 40px 0;
	}	


#stupac-20{
	width:380px;
	heihgt:310px;
	float:left;
	margin: 20px 0 0 0;
	padding:0 0 0 0;
	}
	
	
#stupac-21{
	width:380px;
	heihgt:310px; 
	float:right;
	margin: 20px 0 0 0;
	padding:0 0 0 0;
	}	

#stupac-22{
	width:350px;
	heihgt:280px; 
	float:left;
	margin: 20px 0 0 220px;
	padding:0 0 0 0;
	}	

h1, h4 {
	color: blue;	
	}

ul{
	list-style-type:none;
	}
	
#podnozje{
	width:250px;
	height:150px;
		}